.menu__list {
  display: flex;
}

.menu__list--mobile {
  flex-direction: column;
  justify-content: flex-start;
}

.menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__link {
  flex-grow: 1;
  padding-top: 18px;
  padding-bottom: 21px;
  color: rgb(52, 89, 150);
  text-align: center;
  border-bottom: 1px solid rgb(218, 218, 218);

  &:hover,
  &:focus {
    color: rgb(16, 16, 16);
  }

  &:active {
    color: rgba(16, 16, 16, 0.6);
  }
}
