.page-header {
  padding-top: 15px;
}

.page-header__title-wrap {
  border-bottom: 1px solid rgb(218, 218, 218);
}

.page-header__title {
  width: 320px;
  min-height: 45px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}
