$main-font: "Roboto", "Arial", sans-serif;
$main-color-text: rgb(16, 16, 16);
$bg-color-nav-button: rgb(16, 16, 16);
$bg-color-nav-button-hover: rgba(16, 16, 16, 0.3);
$bg-color-nav-button-active: rgba(16, 16, 16, 0.6);
$mobile-width-only: 767px;
