$main-font: "Roboto", "Arial", sans-serif;
$main-color-text: rgb(22, 22, 22);
$bg-color-nav-button: rgb(22, 22, 22);
$bg-color-nav-button-hover: rgba(22, 22, 22, 0.3);
$bg-color-nav-button-active: rgba(22, 22, 22, 0.6);
$mobile-width-only: 767px;
